= form_with url: create_report_path(@addon.key), method: :post do |form|
  = form.hidden_field :report_id
  = form.hidden_field :redirection_url
  = form.label :title, 'Title'
  = form.text_field :title

  - @fields.each do |field|
    %div
      = render 'field', form: form, field: field

  - if @report_attachments
    #attachmentsList
    - @report_attachments.each do |attachment|
      = render 'attachment', attachment: attachment

  %div
    = form.submit 'Submit', data: { turbo: false }

:javascript
  queryString = window.location.search
  urlParams = new URLSearchParams(queryString)
  document.getElementById('report_id').value = urlParams.get('report_id')
  document.getElementById('redirection_url').value = urlParams.get('redirection_url')
  if ('#{@report_data}' !== '') {
    reportData = JSON.parse('#{@report_data}')
    reportData['data'].forEach(el => document.getElementById(el['key']).value = el['value'])
  }
  const input = document.getElementById('file-field')
  const upload = (file) => {
    const fd = new FormData();
    fd.append("file", file);
    fetch('#{@attachment_path}', {
      method: 'POST',
      headers: {
        Accept: "application/json",
        "X-Requested-With": "XMLHttpRequest",
        "Authorization": "JWT #{@jwt_token}"
      },
      body: fd
    }).then(
      response => response.json()
    ).then(
      success => console.log(success)
    ).catch(
      error => console.log(error)
    )
  }
  const onSelectFile = () => upload(input.files[0])
  input.addEventListener('change', onSelectFile, false)

  function deleteAttachment(id) {
    fetch('#{Settings.testio_base_url}/addon_api/reports/#{@report_id}/attachments/' + id, {
      method: 'DELETE',
      headers: {
        Accept: "application/json",
        "Authorization": "JWT #{@jwt_token}"
      }
    }).then(
      response => response.json()
    ).then(
      success => document.getElementById('attachmentId' + success.attachment.id).remove()
    ).catch(
      error => console.log(error)
    )
  }
